*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(45deg,crimson,darkblue);
}
.calculator{
    position: relative;
    display: grid;    
    border: 2px solid red;
    background:none;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}
.calculator #display{
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
    background-color: lightgray;
}
.calculator span{
    display: grid;
    width: 60px;
    height: 60px;
    color: white;
    place-items: center;
    /* border:1px solid red ; */
}

.calculator span:active{
    background-color: blue;
} 

.calculator span.clear{
    grid-column: span 2;
    width: 150px;
    background-color: crimson;
}

.calculator span.clear:active{
    background-color: blue;
}

.calculator span.plus{
    grid-row: span 2;
    height: 120px;
}

.calculator span.equal{
    background-color: rgb(121, 121, 241);
}

.calculator span.equal:active{
    background-color: blue;
}
.active{
    background-color: blue;
}