/****************************   
        FOOTER
*****************************/
footer{
    position: absolute;
    top: calc(100% - 10%);
    left: 50%;
    transform: translate(-50%,-50%);
}

/****************************   
        BUTTON
*****************************/
#Button {
    display: inline-block;
    padding: 20px 20px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 50%;
    /* box-shadow: 0 9px #999; */
  }
  
  #Button:hover {
      background-color: #3e8e41;
      transform: scale(1.150);
      transition:  transform 0.5s;
    }
  
  #Button:active {
    background-color: #3e8e41;
    /* box-shadow: 0 5px #666; */
    transform: translateY(4px);
  }

  #Button.hide{
      visibility: hidden;
  }
